!.gitignore
/vendor
.idea

coverage-report/
*local.php
.DS_Store
/nbproject
releases
demo
*.tar.gz
public/static
public/vendor/
!public/vendor/README.md
data/cache/cpms/*
!data/cache/.gitkeep
dummy.php
.tags*
review/
.phpunit.result.cache
